pipelines/*/raw_dataset/

pipelines/*/dataset/*/train
pipelines/*/dataset/*/val
pipelines/*/dataset/*/test

pipelines/*/lightning_checkpoints/LRT*

sample_conversion/conversion_script/output_HNL/train_all/*